# ---------------------------------------
# variables q se usan
# ---------------------------------------

# MongoDB
MONGO_URI=
# JWT
JWT_SECRET=

# Google reCAPTCHA
RECAPTCHA_API_KEY=
RECAPTCHA_PROJECT_ID=
RECAPTCHA_SITE_KEY=

# TMDB
TMDB_API_KEY=