.dashboard-container {
    padding: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.dashboard-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
}

.dashboard-card {
    background: #111111;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

.dashboard-card:hover {
    transform: scale(1.03);
}

.dashboard-card h2 {
    margin-bottom: 10px;
}

.dashboard-card button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background: #232323;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.dashboard-card button:hover {
    background: #c7002c;
}

.gestionPeliculas {
    margin-top: 30px;
    color: #c7002c;
    font-size: xx-large;
}

.btn-add {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: relative;
    left: 50%;
    top: 15px;
    transform: translate(-50%, -50%);

}

.btn-add:hover,
.btn-delete:hover {
    background: #c7002c;
    border: 1px solid transparent;
}




h2 {
    text-align: center
}

.gestion-table {
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}