/*los links en la misma fila*/
nav>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-logo {
  width: 100px;
  height: auto;
  object-fit: cover;
  padding-left: 10px;
}

.nav-link.active {
    color: white;
    font-weight: bold;
}

