.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Fondo animado */
.darkveil-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* ← evita desbordes */
    z-index: -1;
    pointer-events: none;
}

.darkveil-canvas {
  width: 100%;
  height: 100%;    max-width: 100%;
  display: block;
}
.layout-content {
    flex: 1;
    position: relative;
    z-index: 2;
}
html, body {
    overflow-x: hidden;
}